.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.459);
}

.login_panel {
  margin: 0 auto;
 
  width: 30.5%;

  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: start;
  box-shadow: 1px 1px 13px rgb(194, 193, 193);

  align-items: center;
  padding-left: 62px;
  padding-right: 62px;
}

.login_image_logo {
  width: 125px;
  height: 125px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: black;
}

.login_panel h1 {
  margin-top: 10px;
  color: #000;
  font-feature-settings: "calt" off;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 75% */
  letter-spacing: -0.32px;
}

.login_panel h2 {
  margin-top: 15px;
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  letter-spacing: -0.24px;
}

.login_panel form {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  gap: 34px;
}

.login_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}


.bg-select{

  background-color: white !important
}




.login_input input {
  width: 100%;
  padding: 8px 0px 8px 3px;
  background-color: transparent;
  border-radius: 5px;
}

.recover_link_login {
  color: #4a9dff;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  margin-top: -26px;
}

.login input[type="submit"] {
  display: flex;
  width: 100%;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  color: white;
  font-feature-settings: "calt" off;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  gap: 8px;
  border-radius: 6px;
  background: var(--wf-base-800, #AD3CC5);
  border: none;
}

.--mt {
  margin-top: 55px;
}

.option_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google_login {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #000;
  font-family: Helvetica;
  color: rgb(128, 128, 128);
  background-color: transparent;

  font-style: normal;
  font-weight: 700;

  letter-spacing: -0.18px;
}

.google_login img {
  width: 30px;
  height: 36px;
}



.errores{
 
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
    top: 40%;
    font-size:16px

}