h1 {
  margin: 0;
}

.landing {
  width: 100%;
  height: 100vh;
}

.img {
  display: block;
  width: 100%;
}

.header_landing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 24px;
  box-shadow: 1px 1px 5px #7c7b7b;
}

.logo_landing {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;

  color: black;
  border-radius: 6px;
  margin-left: 2rem;
}

.logo_landing p{

  margin-top: 20px;
  color: #000;
  font-family: 'Nunito', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 75% */
letter-spacing: -0.32px;
}

.logo_landing img{

  width: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo_landing h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.16px;
  padding: 12px 40px;
}

.navigation_landing {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-right: 2rem;
  margin: 10px;
}

.btnCustom {
    text-decoration-line: none;
    font-family: Helvetica, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: linear-gradient(180deg, #594fff 0%, #4c46aa 100%);
  color: white;
  transition: all 300ms ease-in;
}
.btnCustom:hover {
  color: white;
  transform: scale(1.01);
  box-shadow: 1px 1px 1px #4c46aa;
}

.notBg {
  text-decoration: none;
    font-family: Helvetica, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: white;
  color: #4c46aa;
  border: 1px solid #4c46aa;
  width: 156px;
  transition: all 300ms ease-in;
}

.notBg:hover {
  background: linear-gradient(180deg, #594fff 0%, #4c46aa 100%);
  color: white;
  transform: scale(1.01);
  box-shadow: 1px 1px 1px #4c46aa;
}

.btn-start {
  width: 207px;
  height: 56px;
}

/* ////////////////////////////////////HERO SECTION /////////////////// */

.hero_landing {
  width: 90%;
  margin: 0 auto;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

.img_hero_landing img {
  margin-top: 5rem;
  width: 495px;
  height: 463px;
}

.action_hero_landing {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.action_hero_landing h1 {
  font-family: Helvetica;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 67.2px */
  letter-spacing: 0.56px;
}

.action_hero_landing p {
  color: #000;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 50px;
  margin-top: 30px;
  /* 33.6px */
  letter-spacing: 0.24px;
}

/* ////////////////////////////// FIN HERO SECTION //////////////////// */

.separator {
  width: 80%;
  height: 1px;
  background-color: #2d3648;
  margin: 68px auto;
  align-self: stretch;
}

/* /////////////////////////INFO LANDING ///////////////////////////////////////// */

.info_landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_landing h3 {
  background: linear-gradient(180deg, #594fff 0%, #4c46aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info_landing p {
  width: 617px;

  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.24px;
}

.info_landing h3 {
  width: 655px;

  color: var(--wf-base-800, #2d3648);
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
  letter-spacing: 0.4px;
}

/* //////////////////////////  CONTAINER ICONS ///////////////////////  */

.cards_container_landing {
  border-radius: 12px;

  width: 80%;
  margin: 0 auto;
  padding: 69px 107px 96px 107px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px #3d4a63;
}

.info_icons_landing {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 60%;
  gap: 100px;

  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.container_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  padding: 30px 40px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in 300ms;
}

.container_icon:hover {
  background-color: #c1c5f6;
  color: black;
}

.container_icon img {
  width: 216px;
  height: 178px;
}

.container_icon p {
  width: 155px;
  height: 66px;
}

.--min {
  width: 128px;
  height: 44px;
}

/* ///////////////////////////////////////// FIN ICONS CONTAINER/////////////////////////////////////////// */

.barras_landing {
  margin-top: 187px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.barras_landing img {
  width: 100%;
 
  flex-shrink: 0;
  margin-bottom: 150px;
}

.banner_landing {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 89px;
  
}

.banner_landing img {
  width: 50%;

 
}

.banner_landing .--absolute {
  position: absolute;

  margin-top: 560px;
  margin-right: 340px;
}

.banner_landing p {
  width: 100%;
  margin-left: 50px;
  
  color: #2d3648;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  letter-spacing: 0.4px;
}

.bubbles_landing {
  margin-top: 210px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: -100px;
  z-index: -1;
}


/* mediaQueries  */

@media (max-width: 767px) {
  /* Estilos para pantallas con un ancho máximo de 767px (móviles) */
  .logo_landing{

    flex-direction: column;
  }

  .logo_landing p{
    display: none;
  }

  .header_landing{

    justify-content: center;
  }
  .navigation_landing{

    display: none;
  }
  .hero_landing{
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img_hero_landing{

    display: none;
    text-align: center;
  }

 .action_hero_landing h1{
  width: 100%;
  font-size: 20px;
 }


 .cards_container_landing{
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

 }

 .info_landing{

  font-size:  10px;
 }


 .info_icons_landing{
  grid-column:  1;
 }
}

/* ///////////////// FOOTER //////////////// */
.footer {
    width: 100%;
    display: flex;
    min-height: 337px;
    background: white linear-gradient(
            360deg,
            #244cc0 0%,
            rgba(36, 76, 192, 0.85) 25.52%,
            rgba(36, 76, 192, 0.62) 60.04%,
            rgba(36, 76, 192, 0) 100%
    );
    margin-top: 200px;
    padding: 35px 20px 20px 109px;
}

.logo {
    width: 346px;
    margin-right: 45px;
    color: white;
    display: flex;
    gap: 20px;
}

.logo_data {
    width: 346px;
    margin-right: 45px;
    color: white;
    display: flex;
    gap: 20px;
}

.text-logo {
    padding-left: 10px;
    border-left: 1px solid white;
}


.logo_data img {
    width: 150px;
}


.logo p {
    width: 195px;
    font-size: 16px;
}

.icon_red_footer {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_red_footer i {
    color: #254dc0;
    font-size: 25px;
}


@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para pantallas con un ancho mínimo de 768px y un ancho máximo de 1023px (tablets y pantallas pequeñas) */
 
}

@media (min-width: 1024px) and (max-width: 1365px) {
  /* Estilos para pantallas con un ancho mínimo de 1024px y un ancho máximo de 1365px (tablets y computadoras portátiles) */
  

}

@media (min-width: 1366px) {
  /* Estilos para pantallas con un ancho mínimo de 1366px (computadoras de escritorio) */
 

}