.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Fondos, linear-gradient(180deg, #4E73DF 0%, #244CC0 100%));
  font-family: 'Nunito', sans-serif !important;
}

.login_panel {
  margin: 0 auto;
 
  width: 30.5%;
   min-height: 90%;

  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: start;
  box-shadow: 1px 1px 13px rgb(194, 193, 193);

  align-items: center;
  padding-left: 62px;
  padding-right: 62px;
}

.login_image_logo img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  
}

.login_panel h1 {
  margin-top: 10px;
  color: #000;
  font-feature-settings: "calt" off;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 75% */
  letter-spacing: -0.32px;
}

.login_panel h2 {
  margin-top: 15px;
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  letter-spacing: -0.24px;
}

.login_panel form {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  gap: 34px;
}

.login_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.bg-select{
  background-color: white !important
}

.login_input input {
  width: 100%;
  padding: 8px 0px 8px 3px;
  background-color: transparent;
  border-radius: 5px;
}

.recover_link_login {
  color: #4a9dff;
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  margin-top: -26px;
}

.login input[type="submit"] {
  display: flex;
  width: 100%;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  color: white;
  font-feature-settings: "calt" off;
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  gap: 8px;
  border-radius: 6px;
  background: linear-gradient(180deg, #594fff 0%, #4c46aa 100%);
  border: none;
  transition: all 300ms ease-in;
}

.login input[type="submit"]:hover{

  transform: scale(1.01);
  
}


.--mt {
  margin-top: 20px;
  text-align: center;
}

.option_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google_login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
font-size: 10px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #000;
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  color: rgb(128, 128, 128);
  background-color: transparent;

  font-style: normal;
  font-weight: 700;

  letter-spacing: -0.18px;
}

.google_login img {
  width: 30px;
  height: 30px;
}

.errores{
 
    margin: 0;
    padding: 0;
    position: absolute;
    color: red;
    top: 40%;
    font-size:16px

}

.conainer-products {
  margin: 20px;
}

.card-products .card-header__products {
  margin-bottom: 10px; /* Añade un margen inferior para separar */
  border-bottom: none; /* Elimina la línea horizontal inferior del Card.Header */
  background: white;
  padding: 30px 20px 0 30px;
}

.card-products .card-body__products {
  padding: 10px 30px 30px 30px; /* Añade un relleno inferior para separar */

}

.table-text__products {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.size {

  max-height: 500px;
  overflow-y: scroll;
}

/* Estilo para la tabla dentro de la Card */
.card-container .table {
  margin-top: 10px; /* Margen superior para la tabla */
}

/* Estilo para la paginación dentro de la Card */
.card-container .pagination {
  margin-top: 20px; /* Margen superior para la paginación */
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilos para los botones de paginación */
.pagination button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* Estilo para el botón activo */
.pagination button.active {
  background-color: #007bff; /* Color de fondo para el botón activo */
  color: #fff; /* Color del texto para el botón activo */
}




/* mediaQueries  */

@media (max-width: 767px) {
  /* Estilos para pantallas con un ancho máximo de 767px (móviles) */
  .login_panel{
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  h2{
    font-size: 14px;
    text-align: center;
  }

  
}


@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para pantallas con un ancho mínimo de 768px y un ancho máximo de 1023px (tablets y pantallas pequeñas) */
  .login_panel{
    width: 90%;
    justify-content: center;
    align-items: center;
  
  }


h2{
  font-size: 14px;
  text-align: center;
}
  .google_login{
    font-size: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  /* Estilos para pantallas con un ancho mínimo de 1024px y un ancho máximo de 1365px (tablets y computadoras portátiles) */
  .login_panel{
    width: 30.5%;
  }
  .google_login{
    font-size: 14px;
  }

}

@media (min-width: 1366px) {
  /* Estilos para pantallas con un ancho mínimo de 1366px (computadoras de escritorio) */
  .login_panel{
    width: 30.5%;
  }
  .google_login{
    font-size: 14px;
  }

}

