h1 {
    margin: 0;
}

.landing {
    width: 100%;
    height: 100vh;
}

.img {
    display: block;
    width: 100%;
}

.header_landing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 24px;
}

.logo_landing {
    display: flex;

    align-items: flex-start;
    gap: 10px;
    background-color: #AD3CC5;;
    color: white;
    border-radius: 6px;
    margin-left: 2rem;
}

.logo_landing h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
    padding: 12px 40px;
}

.navigation_landing ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-right: 2rem;
    margin: 10px;
}

.navigation_landing ul li {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #AD3CC5;;

    font-feature-settings: 'calt' off;
    border: 2px solid #AD3CC5;;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
    transition: all 300s ease-in-out;
}

.navigation_landing ul li:hover {
    background-color: #AD3CC5;;
    color: white;
}

.--bg-button {
    background-color: #AD3CC5;;
    color: white !important;
}

.--bg-button:hover {
    color: #AD3CC5 !important;
    background-color: white !important;
}

/* ////////////////////////////////////HERO SECTION /////////////////// */

.hero_landing {
    width: 90%;
    margin: 0 auto;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.img_hero_landing img {
    margin-top: 5rem;
    width: 495px;
    height: 463px;
}

.action_hero_landing {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.action_hero_landing h1 {
    font-family: Helvetica;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 67.2px */
    letter-spacing: 0.56px;
}

.action_hero_landing p {
    color: #000;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 33.6px */
    letter-spacing: 0.24px;
}

.action_hero_landing button {
    display: flex;
    width: 207px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background-color: #AD3CC5;
    color: white;
}

/* ////////////////////////////// FIN HERO SECTION //////////////////// */

.separator {
    width: 80%;
    height: 1px;
    background-color: #2d3648;
    margin: 68px auto;
    align-self: stretch;
}

/* /////////////////////////INFO LANDING ///////////////////////////////////////// */

.info_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_landing p {
    width: 617px;

    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.24px;
}

.info_landing h3 {
    width: 655px;

    color: var(--wf-base-800, #2d3648);
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    letter-spacing: 0.4px;
}

/* //////////////////////////  CONTAINER ICONS ///////////////////////  */
.info_icons_landing {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.container_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

    padding: 30px 40px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all ease-in 300ms ;
}

.container_icon:hover {
    background-color: #DEB5EE;
    color: white;
}

.container_icon img {
    width: 216px;
    height: 178px;
}

.container_icon p {
    width: 155px;
    height: 66px;
}

.--min {
    width: 128px;
    height: 44px;
}

/* ///////////////////////////////////////// FIN ICONS CONTAINER/////////////////////////////////////////// */

.barras_landing {
    margin-top: 187px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.barras_landing img {
    width: 520px;
    height: 188px;
    flex-shrink: 0;
}

.banner_landing {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 89px;
    margin-top: -120px;
}

.banner_landing img {
    width: 583px;
    height: 340px;
}

.banner_landing .--absolute {
    position: absolute;

    margin-top: 560px;
    margin-right: 340px;
}

.banner_landing p {
    width: 430px;
    margin-right: 231px;
    color: #2d3648;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: 0.4px;
}

.bubbles_landing {
    margin-top: 210px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: -100px;
    z-index: -1;
}
